[submodule "marketplace"]
	path = marketplace
	url = git@github.com:marketplate-labs/marketplace.git
[submodule "relayer"]
	path = relayer
	url = git@github.com:marketplate-labs/relayer.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:marketplate-labs/metadata.git
[submodule "indexer"]
	path = indexer
	url = git@github.com:marketplate-labs/indexer.git
